@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--font1);
    min-width: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-size: 3.5vh;
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(179, 241, 160);
    color: black;
}

section.imagem {
    background-color: rgb(39, 34, 13);
    color: white;
    box-shadow: inset 6px 6px 15px 0px rgba(0, 0, 0, 0.521);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.719);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}